


.item-error a {
  transition: .15s ease-in-out opacity;
  cursor: pointer;

}
.item-error a:hover {
    opacity: .5;
}




.error-content h2 {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.error-content p {
    cursor: pointer;
   
    transition: .15s ease-in-out opacity;
}
.page-error p {
    font-size: 1.7rem;
}

.error-content p:hover {
    opacity: .6;
}

.err-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink-style {
    text-decoration: none;
}