*,
*::after,
*::before {
    box-sizing: border-box;
}



/* * {
    border: red solid 2px;
} */

u,
p {
    margin: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 7px;

}




/* scrollbar style change */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:hover {
    cursor: auto;
    cursor: pointer;
}

::-webkit-scrollbar-track {

    border-radius: 22px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 22px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --slider-padding: 5rem;
}

:root {
    --text: #022B3A;
    --mainBackground: #edf2f4;
    --navBackground: rgba(237, 242, 244, .8);
    --containertext: #f7ede2;
    --containerBackground: #022B3A;
    --color1: #5e548e;
    --color2: #03045e;
    --color3: #1F7A8C;
    --color4: #e63946;
    --overlay: rgba(2, 43, 58, .7);
}







body {
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--text);
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    /* overscroll-behavior: none; */
    font-size: 1rem;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100vw;
}

.main-item-content {
    height: 100%;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.no-scroll {
    overflow: hidden;
}

.disable {
    pointer-events: none;
    /* opacity: .7; */
    cursor: wait;

}


.custom-icon-button {
    background-color: transparent !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    opacity: 1;
    transition: .15s ease-in-out opacity;
  }
  
  .custom-icon-button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    opacity: 0.6;
  }
  






/* bootstrap Breakpoints
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
@media screen and (min-width: 360px) {
    :root {
        font-size: 9px;
    }
}

@media screen and (min-width: 414px) {
    :root {
        font-size: 11px;
    }
}

@media screen and (min-width: 540px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 13px;
    }
}