*,
*::after,
*::before {
    box-sizing: border-box;
}



/* * {
    border: red solid 2px;
} */

u,
p {
    margin: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 7px;

}




/* scrollbar style change */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:hover {
    cursor: auto;
    cursor: pointer;
}

::-webkit-scrollbar-track {

    border-radius: 22px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 22px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --slider-padding: 5rem;
}

:root {
    --text: #f8f7ff;
    --mainBackground: #022B3A;
    --containertext: #022B3A;
    --containerBackground: #f8f7ff;
    --color1: #caf0f8;
    --color2: #d0f4de;
    --color3: #fdfcdc;
    --overlay: rgba(225, 229, 242, 0.73);
    --slider-index: 0;
}





body {
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--text);
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    display: flex;
    width: 100%;
   overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    /* overscroll-behavior: none; */
    font-size: 1rem;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100vw;
}
.main-slider-content {
    height: 100%;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.content-container {
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-self: center;
   align-items: center;
}



/* .img-flex-container {
    background-color: aliceblue;
} */

/* individual result modal */







/* bootstrap Breakpoints
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
@media screen and (min-width: 360px) {
    :root {
        font-size: 9px;
    }
} 
@media screen and (min-width: 414px) {
    :root {
        font-size: 11px;
    }
} 
@media screen and (min-width: 540px) {
    :root {
        font-size: 12px;
    }
} 
@media screen and (min-width: 768px) {
    :root {
        font-size: 13px;
    }
} 











