.modal-content-container {
  background-color: var(--mainBackground);
  /* padding: rem; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
}


.modal-img-container {
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
/* margin-bottom: 1rem; */
/* padding: 1rem 0; */
}

.modal-container img {
  width: 100%;
  max-width: 100px;
}
@media screen and (min-width: 375px) {
  .modal-container img {
    max-width: 125px;
  }
}
@media screen and (min-width: 412px) {
  .modal-container img {
    max-width: 175px;
  }
}

.result-info-container {
  width: 100%;
margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

}

@media screen and (min-width: 540px) {
  .modal-content-container {
    flex-direction: row;
    padding: 0rem;
  }
  .modal-img-container {
    margin-top: 0rem;
    max-width: 250px;
    /* width: 40%; */
    padding: 2rem;
    align-items: center;
  
  }

  .modal-container img {
    /* width: 100%; */
    max-width: 250px;
    /* margin-left: 3rem; */
  }
  .result-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 60%;

  }
}
@media screen and (min-width: 1000px) {


  .modal-container img {
    /* width: 100%; */
    max-width: 300px;
    /* margin-left: 3rem; */
  }
  
}

@media screen and (min-width: 1500px) {
  .modal-container img {
    /* width: 100%; */
    max-width: 350px;
  }
  .modal-container img {

    margin-left: 4rem;
  }
}

.result-info {

  margin: 0 1rem 0;
  letter-spacing: .1rem;
  text-align: center;
  color: var(--text);
  max-width: 500px;
}

/* movie info stylings */
.result-info ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.result-info li {
  margin: 0 .3rem;
}



.result-info h3 {
  font-size: 2rem;
  color: var(--color2);
  margin-bottom: 1rem;
  text-align: center;
  /* max-width: 400px; */
}

.result-info span {
  color: var(--color1);
}

.result-info .plot {
  max-width: 400px;
  max-height: 200px;
  overflow-y: scroll;
  margin: 1rem auto;

}

.google-icon-container {
position: relative;
top: 1rem;


}



.google-icon {
  color: var(--color2);
  border: var(--color1) solid 1px;
  background-color: var(--mainBackground);
  padding: .3rem;
  border-radius: 20px;
  transition: 1s all;

}
.google-icon:hover {
  color: var(--color1);
  border: var(--color2) solid 1px;
  background-color: var(--mainBackground);

}

