.heart-icon {
  height: 100px;
  width: 100px;
  background: url("../../../assets/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.heart-bg {
  border: none;
  background: rgba(255, 192, 200, 0)!important;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  
}

.heart-bg:hover {
  border: none!important;
  background: rgba(255, 192, 200, 0.7)!important;
}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likes-amount.liked {
  color: red;
}
