.load-animation {
  position: absolute;
  right: 12.5rem;
  transition: 1.5s opacity ease-in;
}



.load-animation div {
  position: absolute;
  top: 19px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);

}



@media screen and (min-width: 768px) {
  .load-animation div {
    top: 25px;
  }
  .load-animation {
    right: 12rem;
  }
}

.load-animation div:nth-child(1) {
  left: 8px;
  animation: load-animation1 0.6s infinite;
  background: var(--containertext);
}

.load-animation div:nth-child(2) {
  left: 8px;
  animation: load-animation2 0.6s infinite;
  background: var(--containertext);
}

.load-animation div:nth-child(3) {
  left: 32px;
  animation: load-animation2 0.6s infinite;
  background: var(--containertext);
}

.load-animation div:nth-child(4) {
  left: 56px;
  animation: load-animation3 0.6s infinite;
  background: var(--containertext);
}

@keyframes load-animation1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes load-animation3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes load-animation2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}