.google-icon-container {
    position: absolute;
    top: 3.5rem;
    right: 1.3rem;
    
    }
    
    
    
    .google-icon {
      color: var(--color2);
      border: var(--color1) solid 1px;
      background-color: var(--mainBackground);
      padding: .1rem;
      border-radius: 10px;
      transition: .3s all;
    
    }
    .google-icon:hover {
      color: var(--color1);
      border: var(--color2) solid 1px;
      background-color: var(--mainBackground);
    
    }
    
    