
.credentials-form {
  background-color: #DCDBFF;
  padding: 4rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  z-index: 2;
  position: relative;
}

@media screen and (min-width: 500px) {
  .credentials-form {
    max-width: 400px;
  }
}

.credentials-form h2 {
  text-align: center;
  color: var(--mainBackground);
  font-size: 3rem;
  margin: 0 0 2rem 0;
  line-height: 3rem;
}

.credentials-form p {
  text-align: center;
  color: var(--mainBackground);
}

.credentials-form .formGroup {
  margin-bottom: 15px;
}

.credentials-form .label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.credentials-form .input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.credentials-form .button {
  width: 100%;
  padding: 10px;
  background-color: var(--mainBackground);
  color: var(--text);
  border: transparent solid 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: .25s ease-in-out all;
  margin-bottom: 1rem;
}

.credentials-form .button:hover {
  border: var(--mainBackground) solid 1px;
  background-color: var(--text);
  color: var(--mainBackground);
}

.credentials-form .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.link-class {
  color: #450920;
  transition: .15s ease-in-out opacity;
}

.link-class:hover {
  opacity: .5;
}

.Toastify__toast-container {
  z-index: 999;
}

.passwordInputWrapper {
  display: flex;
  align-items: center;
}

.passwordInputWrapper button {
  margin-top: 0;
}

.user-profile-container .credentials-form {
  margin: 2rem 0;
}
.user-profile-container p {
  font-size: 1.3rem;
}

.edit-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-account p {
  font-size: 1.3rem;
  margin: .3rem 0;
}

.delete-account button {
  display: flex;
  align-items: center;
  background-color: #ff0000;
  padding: .5rem 1.5rem;
  color: white;
  border: var(--color1) solid 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: .25s ease-in-out all;
  margin-bottom: 1rem;
}
.delete-account button:hover {
opacity: .7;
}

.button-container {
  display: flex;
  justify-content: center;
} 