.home-page-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    /* height: 100px; */
    display: flex;
    justify-content: center;
   
}


.home-page-nav .nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.home-page-nav p {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
}
.nav-links p {
    margin: 0 .8rem;
    opacity: .7;
    transition: all .25s ease-in-out;
    cursor: pointer;
}
.nav-links p:hover, .nav-links p.active-link {
    text-decoration: underline;
    opacity: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 2.5rem;
}

.logo img {
    width: 50px;
}

.main-content-container {
    position: relative;
}

.main-content-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    }
    .main-content-container button {
    margin-top: 1rem;
    }
.background-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: .5;
    width: 100%;
}

