.footer {
    width: 100%;
    padding: 1.2rem;
    background-color: var(--color1);
    color: var(--mainBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.footer p, .footer a {
    font-size: 1.2rem;
}

.footer a {
  color: var(--mainBackground);
    transition: .3s all ease-in-out;
    text-decoration: underline;
}
.footer a:hover {
    opacity: .6;
letter-spacing: 5px;
}