.main-modal-wrapper {
  width: 100%;
  height: 100vh;
}
.modal-overlay {
  z-index: 100;
  transition: opacity 500ms ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--overlay);

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .5s all;
}
.modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
  /* border: black solid 1px; */
  padding: 2rem 1rem;
  border-radius: 5px;
  background-color: var(--mainBackground);
  width: 95%;
  max-width: 500px;
}
.modal-container .game-btn {
  color: var(--background);
  border: var(--background) solid 1px;
}
.modal-container .game-btn:hover {
  color: var(--text);
  background-color: var(--background);
  border: var(--text) solid 1px;
}
.active {
  opacity: 1;
  visibility: visible;
}
.modal-close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  .modal-container {
    padding: 3rem 3rem;
  }
}