:root {
    --dot1: #d1495b;
    --dot2: #00798c;
    --dot3: #edae49;
    --small-dotSize: 8px;
    --dotGap: 3px;
    --dotRise: -10px;
}
.small-dots {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 10;
    position: absolute;
}
.small-dots>span {
    display: inline-block;
    background-color: var(--dot1);
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: 0 var(--dotGap);
    transform: translate3d(0);
    animation: smallDotBounce 0.8s infinite alternate;
}
.small-dots>span:nth-child(2) {
    background-color: var(--dot2);
    animation-delay: .2s;
}
.small-dots>span:nth-child(3) {
    background-color: var(--dot3);
    animation-delay: .4s;
}
@keyframes smallDotBounce {
    to {
        width: var(--small-dotSize);
        height: var(--small-dotSize);
        transform: translate3d(0, var(--dotRise), 0);
    }
}
.search-form-placement {
    inset: .5rem 90px auto auto;
}