.nav-modal-container {
  padding: 6rem;
  width: 100%;
  height: 100%;
  background-color: var(--mainBackground);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  /* overflow-y: scroll; */
}

.nav-modal-container h3 {
  color: var(--color1);
  font-size: 2rem;
  text-align: center;
}

.nav-modal-container h4 {
  color: var(--color1);
  margin-top: 2rem;
  font-size: 2rem;
}

.nav-modal-container p {
  color: var(--color2);
  font-size: 1.5rem;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 0;
}

/* Change color to black and increase size for specific Material-UI icons */
.custom-icon .MuiSvgIcon-root {
  fill: var(--color3);
  font-size: 1.2em;
  position: relative;
  bottom: .2rem;
  opacity: .7;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.custom-icon .MuiSvgIcon-root:hover {
  opacity: 1;
}

