.error-msg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
}
.error-msg-container p {
    color: var(--color2);
    font-size: 1.5rem;
    text-align: center;
    max-width: 500px;
    padding: 0 3rem;
}

/* @media screen and (min-width: 1200px) {
    .error-msg-container p {
        padding: 0 20rem;
    }
} */