.modal-overlay {
  z-index: 100;
  transition: opacity 500ms ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .5s all;
}


.modal-container {
  /* background-color: var(--mainBackground); */
  position: fixed;
  --modal-width: 95%;
  --modal-height: 90%;
  width: var(--modal-width);
  height: var(--modal-height);
  left: calc((100% - var(--modal-width))/2);
  top: calc((100% - var(--modal-height))/2);
  z-index: 200;
  -webkit-box-shadow: 0px 0px 38px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 38px 6px rgba(0, 0, 0, 0.19);
  visibility: hidden;
  opacity: 0;
  transition: .5s all;
}

.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 500px) {
  .modal-container {
    --modal-width: 95%;
    --modal-height: 90%;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    border-radius: 5px;
    --modal-width: 80%;
    --modal-height: 80%;
  }
}

@media screen and (min-width: 992px) {
  .modal-container {
    --modal-width: 70%;
    --modal-height: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-container {
    --modal-width: 60%;
    --modal-height: 70%;
  }
}

@media screen and (min-width: 1500px) {
  .modal-container {
    --modal-width: 50%;
    --modal-height: 70%;
  }
}

.modal-close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

/* @media only screen and (max-device-width: 1000px) and (orientation: landscape) {
  .modal-container {
    --modal-width: 100% !important;
    --modal-height: 100% !important;
  }
} */



@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {

  .modal-container {
    --modal-width: 100% !important;
    --modal-height: 100% !important;
  }
}